### 다음 물음에 답하시오:

In [1]:
import pandas as pd
import os

#### 데이터 프레임을 읽어 옵니다:

In [2]:
os.chdir(r"..\data")

In [3]:
df = pd.read_csv('data_studentlist_en.csv', header='infer',encoding = 'latin1')

In [4]:
d = df.copy()
d.head()

              name gender  age  grade absence bloodtype  height  weight
0    Jared Diamond      M   23      3       Y         O   165.3    68.2
1   Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2     Brian Martin      M   24      4       N         B   175.0    80.1
3     David Hassel      M   23      3       N        AB   182.1    85.7
4  Clara Rodriquez      F   20      1       Y         A   168.0    49.5

In [5]:
d.isnull().sum()

name         0
gender       0
age          0
grade        0
absence      0
bloodtype    0
height       0
weight       0
dtype: int64

#### 다음 통계치를 계산하시오:

1). 남학생 만의 신장 평균:

In [6]:
d[d.gender == "M"].height.mean()

172.41

2). 여학생 만의 신장 평균:

In [7]:
d[d.gender == "F"].height.mean()

166.64285714285714

3). 남학생 만의 체중 평균:

In [8]:
d[d.gender == "M"].weight.mean()

68.50000000000001

4). 여학생 만의 체중 평균:

In [9]:
d[d.gender == "F"].weight.mean()

50.44285714285714

5). 남학생중 제일 가장 큰 키 (max() 메서드 사용):

In [10]:
d[d.gender == "M"].height.max()

182.1

6). 여학생중 제일 가장 작은 키 (min() 메서드 사용):

In [11]:
d[d.gender == "F"].height.min()

155.2

7). 신장이 175cm 이상인 남학생중 최저 체중을 찾아라:

In [12]:
d[(d.height >= 175) & (d.gender == "M")].weight.min()

61.3

8). 신장이 160cm 이하인 여학생중 최고 체중을 찾아라:

In [13]:
d[(d.height <= 160) & (d.gender == "F")].weight.max()

45.3

9). 결석 (absence)가 없는 (N) 학생만의 성적 (grade) 평균은?

In [14]:
d[d.absence == "N"].grade.mean()

2.076923076923077

10). 결석 (absence)가 있는 (Y) 학생만의 성적 (grade) 평균은?

In [15]:
d[d.absence == "Y"].grade.mean()

3.0

11). 혈액형이 A형 이거나 AB형인 학생들의 신장 평균은?

In [16]:
d[(d.bloodtype == "A") | (d.bloodtype == "AB")].height.mean()

172.64285714285714

12). 혈액형이 A형 이거나 AB형인 남학생들의 신장 평균은?

In [17]:
d[(d.bloodtype == "A") | (d.bloodtype == "AB") & (d.gender == "M")].height.mean()

173.0666666666667

13. 결석 (absence)가 있으며 (Y) 성적 (grade)이 3이상인 학생들의 평균 연령은?

In [18]:
d[(d.absence == "Y") & (d.grade >= 3)].age.mean()

23.666666666666668