### 다음 물음에 답하시오:

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
%matplotlib inline
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

#### 데이터 프레임을 읽어 옵니다:

In [2]:
os.chdir(r"..\data")

In [3]:
df = pd.read_csv('data_population.csv', header='infer',encoding = 'ms949')

In [4]:
df.shape

(281, 9)

In [5]:
df.head()

,Unnamed: 0,Province,City,Population,Households,PersInHou,Male,Female,GenderRatio
0,1,서울특별시,,10078850,4197478,2.40,4962774,5116076,0.97
1,2,서울특별시,종로구,155695,72882,2.14,76962,78733,0.98
2,3,서울특별시,중구,126817,59614,2.13,63292,63525,1.00
3,4,서울특별시,용산구,235186,108138,2.17,114119,121067,0.94
4,5,서울특별시,성동구,298145,126915,2.35,148265,149880,0.99

#### 다음 통계치를 구하시오:

1). 경상남도의 인구를 집계 하시오:

In [6]:
df[df.Province == '경상남도'].Population.sum()

7785302

2). 경상북도의 인구를 집계 하시오:

In [7]:
df[df.Province == '경상북도'].Population.sum()

5913486

3). 경상남도와 경상북도의 인구를 동시에 집계 하시오:

In [8]:
df[(df.Province == '경상북도') | (df.Province == '경상남도')].Population.sum()

13698788

4). 성비 기준으로 남자가 상대적으로 많은 도시 (GenderRatio >1)의 평균 인구를 구하시오:

In [9]:
df[df.GenderRatio > 1].Population.mean()

419221.2076923077

5). 성비 기준으로 남자가 상대적으로 적은 도시 (GenderRatio <1)의 평균 인구를 구하시오:

In [10]:
df[df.GenderRatio < 1].Population.mean()

394085.1074380165

6). 성비 기준으로 남자가 적고 **(GenderRatio < 1)** 가족인원수가 2인 이상 **(PersInHou >= 2)** 도시를 찾으시오:

In [12]:
df[(df.GenderRatio < 1 ) & (df.PersInHou >= 2)].City.unique()

array([' ', '종로구 ', '용산구 ', '성동구 ', '광진구 ', '성북구 ', '강북구 ', '도봉구 ',
       '노원구 ', '은평구 ', '서대문구 ', '마포구 ', '양천구 ', '강서구 ', '동작구 ', '서초구 ',
       '강남구 ', '송파구 ', '강동구 ', '서구 ', '동구 ', '영도구 ', '부산진구 ', '동래구 ',
       '남구 ', '북구 ', '해운대구 ', '금정구 ', '연제구 ', '수영구 ', '기장군 ', '중구 ',
       '수성구 ', '달서구 ', '부평구 ', '성남시 ', '성남시 분당구 ', '의정부시 ', '안양시 ',
       '안양시 동안구 ', '부천시 원미구 ', '부천시 소사구 ', '광명시 ', '고양시 ', '고양시 덕양구 ',
       '고양시 일산동구 ', '고양시 일산서구 ', '과천시 ', '구리시 ', '군포시 ', '용인시 ',
       '용인시 기흥구 ', '용인시 수지구 ', '춘천시 ', '원주시 ', '강릉시 ', '속초시 ', '청주시 상당구 ',
       '청주시 서원구 ', '계룡시 ', '부여군 ', '서천군 ', '전주시 ', '전주시 완산구 ', '전주시 덕진구 ',
       '정읍시 ', '남원시 ', '김제시 ', '무주군 ', '장수군 ', '순창군 ', '고창군 ', '부안군 ',
       '순천시 ', '곡성군 ', '구례군 ', '보성군 ', '화순군 ', '장흥군 ', '강진군 ', '해남군 ',
       '함평군 ', '영광군 ', '완도군 ', '진도군 ', '김천시 ', '안동시 ', '영주시 ', '상주시 ',
       '문경시 ', '의성군 ', '영양군 ', '청도군 ', '예천군 ', '봉화군 ', '울진군 ',
       '창원시 마산합포구 ', '진주시 ', '밀양시 ', '창녕군 ', '남해군 ', '하동군 ', '산청군 ',
       '함양군 ', '거창군 ', '합천군 '], dtype=object)

In [13]:
df[(df.GenderRatio < 1 ) & (df.PersInHou >= 2)].head(10)

,Unnamed: 0,Province,City,Population,Households,PersInHou,Male,Female,GenderRatio
0,1,서울특별시,,10078850,4197478,2.40,4962774,5116076,0.97
1,2,서울특별시,종로구,155695,72882,2.14,76962,78733,0.98
3,4,서울특별시,용산구,235186,108138,2.17,114119,121067,0.94
4,5,서울특별시,성동구,298145,126915,2.35,148265,149880,0.99
5,6,서울특별시,광진구,362197,158769,2.28,177946,184251,0.97
8,9,서울특별시,성북구,464176,192670,2.41,227676,236500,0.96
9,10,서울특별시,강북구,333523,141325,2.36,164304,169219,0.97
10,11,서울특별시,도봉구,353284,137260,2.57,174075,179209,0.97
11,12,서울특별시,노원구,579324,220403,2.63,282601,296723,0.95
12,13,서울특별시,은평구,499399,203159,2.46,244160,255239,0.96

7). 가구수 (Households) 적은 순서대로 정렬하여 10개의 도시를 보여주어라:

In [14]:
df.sort_values(by='Households', ascending=True).head(10)

,Unnamed: 0,Province,City,Population,Households,PersInHou,Male,Female,GenderRatio
253,254,경상북도,울릉군,10304,5365,1.92,5518,4786,1.15
244,245,경상북도,영양군,17984,8769,2.05,8854,9130,0.97
200,201,전라북도,장수군,23308,10877,2.14,11557,11751,0.98
150,151,강원도,양구군,24283,11162,2.18,13069,11214,1.17
62,63,인천광역시,옹진군,20825,11172,1.86,11715,9110,1.29
199,200,전라북도,무주군,25181,11723,2.15,12451,12730,0.98
241,242,경상북도,군위군,24096,12091,1.99,12054,12042,1.00
213,214,전라남도,구례군,27115,12465,2.18,13181,13934,0.95
198,199,전라북도,진안군,26325,12531,2.10,13168,13157,1.00
243,244,경상북도,청송군,26353,13233,1.99,13063,13290,0.98